{% load static %}
{% load sidebar_links %}
{% get_links as links %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top px-4">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="/">
      <img src="{% static 'main/img/logo.jpg.png' %}" alt="BOFINN" style="height: 32px;" class="me-2">
      <span class="fw-bold">BOFINN</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNavbar"
            aria-controls="topNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="topNavbar">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {% for link in links %}
          <li class="nav-item">
            <a href="{{ link.href }}" class="nav-link {% if request.path == link.href %}active{% endif %}">
              <i class="fa-solid {{ link.icon }}"></i> {{ link.name }}
            </a>
          </li>
        {% endfor %}
      </ul>

      <div class="dropdown ms-3">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
          <strong>My account</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark text-small shadow">
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
