{% load static %}
{% load sidebar_links %}

{% get_links as links %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a href="/main/static" class="navbar-brand d-flex align-items-center gap-2">
      <img src="{% static 'main/img/django_logo.svg' %}" alt="Logo" width="40">
      <span class="fs-4">Django app</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% for link in links %}
          <li class="nav-item">
            <a class="nav-link {% if request.path == link.href %}active{% endif %}" href="{{ link.href }}">
              <i class="fa-solid {{ link.icon }}"></i>&nbsp;{{ link.name }}
            </a>
          </li>
        {% endfor %}
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button" data-bs-toggle="dropdown">
            <img src="https://github.com/mdo.png" alt="Avatar" width="32" height="32" class="rounded-circle me-2">
            <strong>BOFFIN</strong>
          </a>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark shadow">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
